<h1>Listing Articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td class='artTitle'><%= link_to article.title, article_path(article) %></td>
      <td class='artText'><%= article.text %></td>
      <td class='artAuthor'>By: <%= article.user.username if article.user %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New article', new_article_path %>